.service {
    border: 5px solid lightcoral;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.price {
    color: red;
}

.btn {
    background-color: deeppink;
    color: aliceblue;
}