.imgage-container {
    margin-top: 500px;
    padding-top: 10px;
    border: 5px solid lawngreen;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
}

.extra-image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    padding-left: 50px;
}

@media screen and (max-width:570px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2px;
    }
}

.advertisement {
    margin-top: 15px;
    text-align: center;
}

.discount {
    text-align: center;
}