/* .image-container {
    margin-bottom: 200px;
    height: 5px;
    border: 5px solid lawngreen;


} */

.extrasection-container {
    height: 400px;
    border: 10px solid gold;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.extra-image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    padding-left: 50px;
    padding-right: 50px;
}

@media screen and (max-width:570px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2px;
    }
}

.advertisement {
    margin-top: 15px;
    text-align: center;
}

.discount {
    text-align: center;
}