.trainer-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-left: 110px;
}

@media screen and (max-width:570px) {
    .trainer-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.trainer-title {
    color: deeppink;
    margin-top: 10px;
    text-align: center;
}

.trainer-title:hover {
    color: orangered;
}